{% extends "base.html" %}

{% block titulo %}Contacto — Mi Web{% endblock %}

{% block contenido %}
<h1>Productos de Maquillaje</h1>

<ul>
   <li>Correctores: Es uno de sus productos más virales. Ofrecen versiones como My Concealer de 10ml y la versión Big de 20ml en diversos tonos como Ivory, Olive Beige y Espresso.</li>
    <li>Bases: Disponible en tonos como almendra, medium beige y neutral beige. </li>
    <li>Polvos: Incluye el Polvo Pink Malla Mate (rosado) y el Polvo Natural Malla Mate, además de polvos traslúcidos.</li>
    <li>Rubores y Bronceadores:
    Bloom Blushy: En tonos como Pasión, Sol de Tarde, Susurro y Terracota.
    Velvet Crush: Rubor en tonos Pink, Peach y Terracota.
    Bronzer Tropical Luminous: En tonos 01 y 02.</li>
</ul>


{% endblock %} 

<footer>   
<p>Esta página fue creada con <strong>FastAPI</strong> y <strong>Jinja2</strong>.</p>
<p>El año actual es: <strong>{{ ano_actual }}</strong></p>
</footer>